<!DOCTYPE html>
<html>
  <head>
    <title>erinfajrinnugraha</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <!-- Bagian untuk Header -->
    <div class="header">
      <h1>
        E<span class="header_span">RIN</span> FAJ<span class="header_span"
          >RIN</span
        >
        NUGRAHA
      </h1>
    </div>
    <!-- Navigation Bar -->
    <div class="navbar">
      <a href="../index.html">Home</a>
      <a href="#" style="background-color: #e9c46a">Tugas</a>
      <a href="tutorial.html">Tutorial</a>
    </div>
    <!-- The flexible grid (content) -->
    <div class="row">
      <!-- Konten utama dari website -->
      <div class="main">
        <hr />
        <h1 align="center">Selamat datang di website saya</h1>
        <hr />
        <p>Hai teman-teman...</p>
        <p>
          Perkenalkan saya Erin Fajrin Nugraha, seorang mahasiswa di salah satu
          universitas di Kota Tasikmalaya yaitu Universitas Perjuangan
          Tasikmalaya.
        </p>
        <p>
          Saya memiliki cita-cita untuk menjadi seorang dosen dan teknisi yang
          handal, oleh karena itu saya berusaha semaksimal mungkin untuk
          mencapai cita-cita tersebut, hehe.
        </p>
        <hr />
        <h1 align="center">TUGAS</h1>
        <hr />
        <h1>COMING SOON...</h1>
        <h1>INSTALASI UBUNTU DESKTOP VERSI 18 LTS</h1>
        <div class="image_main">
          <img
            src="../static/img/PUBGmobile.jpg"
            alt="Toyota Land Cruiser"
            height="200px"
          />
        </div>

        <hr />
        <p>Terimakasih telah berkunjung.</p>
      </div>

      <div class="side">
        <hr />
        <h2 align="center">Profile Dari Saya</h2>
        <hr />
        <h2>Foto saya:</h2>
        <br />
        <div class="side_foto">
          <img
            src="../static/img/erinFajrin.png"
            width="200px"
            alt="Erin Fajrin Nugraha"
            style="border-radius: 50%; border: 3px ; margin: auto; solid black"
          />
          <div class="paragraf">
            <p>Nama : Erin Fajrin Nugraha</p>
            <p>NIM : 2103010033</p>
            <p>Kelas : Teknik Informatika A</p>
            <p>Alamat : Kawalu</p>
          </div>
        </div>
        <hr />
        <h3>Social Media</h3>
        <div class="social">
          <a
            href="https://instagram.com/erinfajrinnugraha?igshid=NzZlODBkYWE4Ng=="
            style="text-decoration: none"
          >
            <div class="border_social">
              <img src="../static/img/instagram.svg" alt="" />
              <p>@erinfajrinnugraha</p>
            </div>
          </a>
          <br />
          <a
            href="https://www.linkedin.com/in/erin-fajrin-nugraha/"
            style="text-decoration: none"
            ><div class="border_social">
              <img src="../static/img/linkedin.svg" alt="" />
              <p>@erinfajrinnugraha</p>
            </div>
          </a>
          <br />
        </div>
        <br />
        <div class="social">
          <a href="https://github.com/hooqidz" style="text-decoration: none">
            <div class="border_social">
              <img src="../static/img/github.svg" height="48px" alt="" />
              <p>@erinfajrinnugraha</p>
            </div>
          </a>
          <br />
          <a
            href="mailto:erinfajrinnugraha@gmail.com"
            style="text-decoration: none"
          >
            <div class="border_social">
              <img src="../static/img/gmail.svg" height="48px" alt="" />
              <p>@erinfajrinnugraha</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div class="footer">
      <p>Copyright 2023 © Erin Fajrin Nugraha</p>
    </div>
  </body>
</html>
