<!DOCTYPE html>
<html>
  <head>
    <title>erinfajrinnugraha</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <!-- Bagian untuk Header -->
    <div class="header">
      <h1>
        E<span class="header_span">RIN</span> FAJ<span class="header_span"
          >RIN</span
        >
        NUGRAHA
      </h1>
    </div>
    <!-- Navigation Bar -->
    <div class="navbar">
      <a href="#">Home</a>
      <a href="#">Hobby</a>
      <a href="#">Favourite</a>
    </div>
    <!-- The flexible grid (content) -->
    <div class="row">
      <!-- Konten utama dari website -->
      <div class="main">
        <hr />
        <h1 align="center">Selamat datang di website saya</h1>
        <hr />
        <div class="fakeimg" style="height: 200px">Foto</div>
        <p>contoh teks..</p>
        <p>
          Contoh teks contoh teks contoh teks contoh teks contoh teks contoh
          teks contoh teks contoh teks contoh teks contoh teks contoh teks
          contoh teks contoh teks contoh teks contoh teks.
        </p>
        <br />
        <h2>JUDUL BERITA</h2>
        <h5>Judul deskripsi, 1 Januari, 2021</h5>
        <div class="fakeimg" style="height: 200px">Foto</div>
        <p>contoh teks..</p>
        <p>
          Contoh teks contoh teks contoh teks contoh teks contoh teks contoh
          teks contoh teks contoh teks contoh teks contoh teks contoh teks
          contoh teks contoh teks contoh teks contoh teks.
        </p>
      </div>

      <div class="side">
        <hr />
        <h2>Profile Dari Saya</h2>
        <hr />
        <h2>Foto saya:</h2>
        <img
          src="../static/img/erinFajrin.png"
          width="200px"
          alt="Erin Fajrin Nugraha"
          style="border-radius: 50%; margin-left: 30px"
        />

        <p>Nama : Erin Fajrin Nugraha</p>
        <p>NIM : 2103010033</p>
        <p>Kelas : Teknik Informatika A</p>
        <hr />
        <h3>Contoh Teks</h3>
        <p>Contoh teks contoh teks contoh teks.</p>
        <div class="fakeimg" style="height: 60px">Foto</div>
        <br />
        <div class="fakeimg" style="height: 60px">Foto</div>
        <br />
        <div class="fakeimg" style="height: 60px">Foto</div>
      </div>
    </div>
    <!-- Footer -->
    <div class="footer">
      <h2>Footer</h2>
    </div>
  </body>
</html>
