<!DOCTYPE html>
<html>
  <head>
    <title>erinfajrinnugraha</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <!-- Header -->
    <div class="header">
      <h1>
        E<span class="rin">RIN</span> FAJ<span class="rin">RIN</span> NUGRAHA
        GAMESHOP
      </h1>
    </div>
    <!-- Navigation Bar -->
    <div class="navbar">
      <a href="#" style="background-color: whitesmoke; color: black">Beranda</a>
      <a href="#">Materi</a>
      <a href="#">Tugas</a>
      <a href="#">Kontak</a>
      <input type="text" placeholder="Search.." />
    </div>
    <!-- The flexible grid (content) -->
    <div class="row">
      <div class="main">
        <h2>RED DEAD REDEPMTION II</h2>
        <h5>Open World, Story</h5>
        <div class="main-img">
          <img src="../static/img/rdr2-header.png" alt="" />
        </div>
        <p>Red Dead Redemption II</p>
        <p>
          Pemenang lebih dari 175 Game of the Year Awards dan penerima lebih
          dari 250 skor sempurna, RDR2 adalah kisah epik penjahat Arthur Morgan
          dan geng Van der Linde yang terkenal, dalam pelarian melintasi Amerika
          pada awal zaman modern. Juga termasuk akses ke dunia kehidupan bersama
          Red Dead Online.
        </p>
        <div class="frame-buy">
          Rp.699.000
          <button
            type="button"
            onclick="alert('TERIMAKASIH TELAH BERBELANJA DI ERIN FAJRIN NUGRAHA GAMESHOP')"
          >
            Beli Game
          </button>
        </div>
        <br />
        <hr />
        <h2>FORZA HORIZON 5</h2>
        <h5>Racing, Simulator</h5>
        <div class="main-img">
          <img src="../static/img/fh5-header.png" alt="" />
        </div>
        <p>Forza Horizon 5</p>
        <p>
          Petualangan Cakrawala Utama Anda menanti! Jelajahi lanskap dunia
          terbuka Meksiko yang dinamis dengan aksi berkendara yang menyenangkan
          dan tak terbatas dengan mobil terhebat di dunia. Taklukkan Sierra
          Nueva yang terjal dalam pengalaman Horizon Rally terbaik. Membutuhkan
          game Forza Horizon 5, ekspansi dijual terpisah.
        </p>
        <div class="frame-buy">
          Rp.749.000
          <button
            type="button"
            onclick="alert('TERIMAKASIH TELAH BERBELANJA DI ERIN FAJRIN NUGRAHA GAMESHOP')"
          >
            Beli Game
          </button>
        </div>
        <br />
        <hr />
        <h2>PUBG : BATTLEGROUNDS</h2>
        <h5>Survival, Shooter</h5>
        <div class="main-img">
          <img src="../static/img/pubg-header.png" alt="" />
        </div>
        <p>PUBG : Battlegrounds</p>
        <p>
          Mainkan PUBG: BATTLEGROUNDS gratis. Mendarat di lokasi strategis,
          menjarah senjata dan perbekalan, dan bertahan untuk menjadi tim
          terakhir yang bertahan di berbagai Medan Pertempuran yang beragam.
          Bergabunglah dan bergabunglah di Battlegrounds untuk mendapatkan
          pengalaman Battle Royale orisinal yang hanya ditawarkan oleh PUBG:
          BATTLEGROUNDS.
        </p>
        <div class="frame-buy">
          GRATIS!!!
          <button
            type="button"
            onclick="alert('TERIMAKASIH TELAH BERBELANJA DI ERIN FAJRIN NUGRAHA GAMESHOP')"
          >
            Beli Game
          </button>
        </div>
        <br />
        <br />
      </div>

      <div class="side">
        <h2>Berita Game</h2>
        <h5>Foto saya:</h5>
        <div class="side-img" style="height: 200px">Foto</div>
        <p>Contoh teks contoh teks contoh teks..</p>
        <h3>Contoh Teks</h3>
        <p>Contoh teks contoh teks contoh teks.</p>
        <div class="side-img">Foto</div>
        <br />
        <div class="side-img">Foto</div>
        <br />
        <div class="side-img">Foto</div>
      </div>
    </div>
    <!-- Footer -->
    <div class="footer">
      <h2>Footer</h2>
    </div>
  </body>
</html>
